<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title th:utext="#{project.name}"></title>
    <link href="../../static/css/element/index.css" rel="stylesheet" th:href="@{/css/element/index.css}">
    <!-- 自定义css文件 -->
    <link href="../../static/css/common.css" rel="stylesheet" th:href="@{/css/common.css}">
</head>

<body>

    <div th:replace="~{nav :: nav('saleApply')}"></div>
    <div th:replace="~{header :: header}"></div>
    <div class="margin-helper">
        <div class="samoyed-content">
            <div th:replace="~{pageHead :: pageHead(pageName=#{nav.saleApply}, parentMenu=#{nav.sale})}"></div>


            <div id="page-content" class="page-content" v-cloak>
                <!--基本信息-->
                <div class="section-title" th:text="#{common.basicInfo}"></div>
                <div class="samoyed-task" v-for="(orderDetail, orderDetailIndex) in orderDetails">
                    <el-row class="samoyed-row" type="flex" align="middle">
                        <el-col :span="2">
                            <div class="center" th:text="#{common.produce}"></div>
                        </el-col>
                        <el-col :span="1">
                            <el-popover class="tips-align" placement="top" width="400" trigger="hover" th:title="#{common.tip}" th:content="#{common.produceExplain}">
                                <i slot="reference" class="el-icon-question"></i>
                            </el-popover>
                        </el-col>
                        <el-col :span="8">
                            <el-select class="full-length" size="medium" filterable th:placeholder="#{common.pleaseSelect}">
                                <el-option>
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="2">
                            <div class="center" th:text="#{common.measurement}"></div>
                        </el-col>
                        <el-col :span="4">
                            <el-select class="full-length" size="medium" th:placeholder="#{common.pleaseSelect}">
                                <el-option>
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="2">
                            <div class="center" th:text="#{common.yield}"></div>
                        </el-col>
                        <el-col :span="4">
                            <el-input class="full-length" type="number">
                            </el-input>
                        </el-col>
                        <el-col :span="1" v-if="orderDetails.length>1">
                            <div class="center">
                                <i class="el-icon-close btn hover-normal-color" @click="removeOrderDetail(orderDetailIndex)"></i>
                            </div>
                        </el-col>
                    </el-row>
                    <el-row class="samoyed-row" type="flex" align="middle">
                        <el-col :span="2">
                            <div class="center" th:text="#{common.material}"></div>
                        </el-col>
                        <el-col :span="1">
                            <el-popover class="tips-align" placement="top" width="400" trigger="hover" th:title="#{common.tip}" th:content="#{common.materialExplain}">
                                <i slot="reference" class="el-icon-question"></i>
                            </el-popover>
                        </el-col>
                        <el-col :span="8">
                            <el-input :disabled="true">
                            </el-input>
                        </el-col>
                        <el-col :span="2">
                            <div class="center" th:text="#{common.measurement}"></div>
                        </el-col>
                        <el-col :span="4">
                            <el-select class="full-length" size="medium" th:placeholder="#{common.pleaseSelect}">
                                <el-option>
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="2">
                            <div class="center" th:text="#{common.requirement}"></div>
                        </el-col>
                        <el-col :span="4">
                            <el-input type="number">
                            </el-input>
                        </el-col>
                    </el-row>
                </div>
                <div class="add-task-btn-wrapper">
                    <span class="btn normal-color" @click="addOrderDetail">
                        <i class="el-icon-circle-plus-outline center"></i>
                        <span th:text="#{common.add}"></span>
                    </span>
                </div>
                <!--自定义信息-->
                <div class="section-title" th:text="#{common.customInfo}"></div>
                <el-row type="flex" align="middle" class="samoyed-row">
                    <el-col :span="2">
                        <div class="center" th:text="#{common.orderDate}"></div>
                    </el-col>
                    <el-col :span="1">
                        <el-popover class="tips-align" placement="top" width="400" trigger="hover" th:title="#{common.tip}" th:content="#{common.orderDateExplain}">
                            <i slot="reference" class="el-icon-question"></i>
                        </el-popover>
                    </el-col>
                    <el-col :span="5">
                        <el-date-picker align="left" type="date" format="yyyy 年 MM 月 dd 日" value-format="yyyy-MM-dd" th:placeholder="#{common.selectDate}">
                        </el-date-picker>
                    </el-col>
                </el-row>
                <el-row type="flex" align="middle" class="samoyed-row">
                    <el-col :span="2">
                        <div class="center" th:text="#{common.produceStartDate}"></div>
                    </el-col>
                    <el-col :span="1">
                        <el-popover class="tips-align" placement="top" width="400" trigger="hover" th:title="#{common.tip}" th:content="#{common.produceStartDateExplain}">
                            <i slot="reference" class="el-icon-question"></i>
                        </el-popover>
                    </el-col>
                    <el-col :span="5">
                        <el-date-picker align="left" type="date" format="yyyy 年 MM 月 dd 日" value-format="yyyy-MM-dd" th:placeholder="#{common.selectDate}">
                        </el-date-picker>
                    </el-col>
                </el-row>
                <el-row type="flex" align="middle" class="samoyed-row">
                    <el-col :span="2">
                        <div class="center" th:text="#{common.produceEndDate}"></div>
                    </el-col>
                    <el-col :span="1">
                        <el-popover class="tips-align" placement="top" width="400" trigger="hover" th:title="#{common.tip}" th:content="#{common.produceEndDateExplain}">
                            <i slot="reference" class="el-icon-question"></i>
                        </el-popover>
                    </el-col>
                    <el-col :span="5">
                        <el-date-picker align="left" type="date" format="yyyy 年 MM 月 dd 日" value-format="yyyy-MM-dd" th:placeholder="#{common.selectDate}">
                        </el-date-picker>
                    </el-col>
                </el-row>
                <!--其他设置-->
                <div class="section-title" th:text="#{common.otherInfo}"></div>
                <el-row class="samoyed-row" type="flex" align="middle">
                    <el-col :span="2">
                        <div class="center" th:text="#{common.remark}"></div>
                    </el-col>
                    <el-col :span="1">
                        <el-popover class="tips-align" placement="top" width="400" trigger="hover" th:title="#{common.tip}" th:content="#{common.remarkExplain}">
                            <i slot="reference" class="el-icon-question"></i>
                        </el-popover>
                    </el-col>
                    <el-col :span="20">
                        <el-input style="width:100%;" type="textarea" :autosize="{ minRows: 4, maxRows: 6}" th:placeholder="#{common.pleaseInput}">
                        </el-input>
                    </el-col>
                </el-row>

            </div>


        </div>
    </div>
    <div th:replace="~{footer :: footer}"></div>

    <script src="../../static/js/vue.js" th:src="@{/js/vue.js}"></script>
    <script src="../../static/js/element.js" th:src="@{/js/element.js}"></script>
    <script src="../../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script src="../../static/js/utils.js" th:src="@{/js/utils.js}"></script>
    <!-- 引用vue组件相关的js文件 -->
    <div th:replace="~{nav :: vue('saleApply')}"></div>
    <div th:replace="~{header :: vue}"></div>
    <div th:replace="~{footer :: vue}"></div>
    <!-- 本页面的js脚本 -->
    <script th:inline="javascript">
        //原料
        function OrderDetail() {

        }

        new Vue({
            el: '#page-content',
            data: {

                orderDetails: [new OrderDetail()],
                //填充数据

            },
            created: function () {

            },
            computed: {

            },
            methods: {
                addOrderDetail: function () {
                    this.orderDetails.push(new OrderDetail());
                },
                removeOrderDetail: function (index) {
                    this.orderDetails.splice(index, 1);
                },
                //清空总金额
                //清空原材料
                //填充付款卡号
                //填充原材料名称

                //填充原材料单价
                //填充原材料计量单位

                //精确浮点数计算(保留两位小数)  

                //计算总金额

                //提交前验证

                //组装

                //提交


            }
        });
    </script>

</body>

</html>