<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title th:utext="#{project.name}"></title>
    <link href="../static/css/element/index.css"
          rel="stylesheet"
          th:href="@{/css/element/index.css}">
    <!-- 自定义css文件 -->
    <link href="../static/css/common.css"
          rel="stylesheet"
          th:href="@{/css/common.css}">
</head>
<body>

<div th:replace="~{nav :: nav('home')}"></div>
<div th:replace="~{header :: header}"></div>
<div class="margin-helper">
    <div class="samoyed-content">
        
        <div class="page-title">Samoyed平台(轻量级的红枣生产管理系统) 具体使用请参考<a href="javascript:0;">Samoyed平台使用介绍</a>,下面截取的是主要核心的功能简介.</div>
        <div style="margin-top: 30px;">
            <div class="section-title">1. 采购</div>
            <p style="line-height: 2em;">
            &nbsp;&nbsp;采购功能主要用于红枣采购的流程管理（如申请采购订单，订单审核，付款，收货，验收，退货，入库等操作）。
            </p>
        </div>
        <div style="margin-top: 30px;">
            <div class="section-title">2. 生产</div>
            <p style="line-height: 2em;">
            &nbsp;&nbsp;生产功能主要用于红枣生产的流程管理（如提交生产计划单，订单审核，原材料出库，收货，生产环节，验收，产品入库等操作）。
            </p>
        </div>
        <div style="margin-top: 30px;">
            <div class="section-title">3. 销售</div>
            <p style="line-height: 2em;">
            &nbsp;&nbsp;销售功能主要用于红枣销售的流程管理（如申请销售订单，订单审核，收款，发货，退回，出库等操作）。
            </p>
        </div>
        <div style="margin-top: 30px;">
            <div class="section-title">4. 财务</div>
            <p style="line-height: 2em;">
            &nbsp;&nbsp;财务功能主要用于红枣所有流程的财务收支管理（如财务付款-采购，财务收款-采购，财务付款-销售，财务收款-销售，财务对账等操作）。
            </p>
        </div>
        <div style="margin-top: 30px;">
            <div class="section-title">5. 仓储</div>
            <p style="line-height: 2em;">
            &nbsp;&nbsp;仓储功能主要用于红枣所有流程的出入库管理（如仓储入库-采购，仓储出库-生产，仓储入库-生产，仓储出库-销售，仓储明细等操作）。
            </p>
        </div>
        
    </div>
</div>
<div th:replace="~{footer :: footer}"></div>

<script src="../static/js/vue.js" th:src="@{/js/vue.js}"></script>
<script src="../static/js/element.js" th:src="@{/js/element.js}"></script>
<script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="../static/js/utils.js" th:src="@{/js/utils.js}"></script>
<!-- 引用vue组件相关的js文件 -->
<div th:replace="~{nav :: vue('home')}"></div>
<div th:replace="~{header :: vue}"></div>
<div th:replace="~{footer :: vue}"></div>
<!-- 本页面的js脚本 -->
<script th:inline="javascript">

</script>

</body>
</html>