<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title th:utext="#{project.name}"></title>
    <link href="../static/css/element/index.css"
          rel="stylesheet"
          th:href="@{/css/element/index.css}">
    <!-- 自定义css文件 -->
    <link href="../static/css/common.css"
          rel="stylesheet"
          th:href="@{/css/common.css}">
</head>
<body>

<div th:replace="~{nav :: nav('home')}"></div>
<div th:replace="~{header :: header}"></div>
<div class="margin-helper">
    <div class="corgi-content">
        <div th:text="#{logoutMsg}">您已经成功退出Samoyed平台。</div>
    </div>
</div>
<div th:replace="~{footer :: footer}"></div>

<script src="../static/js/vue.js" th:src="@{/js/vue.js}"></script>
<script src="../static/js/element.js" th:src="@{/js/element.js}"></script>
<script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="../static/js/utils.js" th:src="@{/js/utils.js}"></script>
<!-- 引用vue组件相关的js文件 -->
<div th:replace="~{nav :: vue('home')}"></div>
<div th:replace="~{header :: vue}"></div>
<div th:replace="~{footer :: vue}"></div>
<!-- 本页面的js脚本 -->
<script th:inline="javascript">

</script>

</body>
</html>