<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title th:utext="#{project.name}"></title>
    <link href="../static/css/element/index.css" rel="stylesheet" th:href="@{/css/element/index.css}">
    <!-- 自定义css文件 -->
    <link href="../static/css/common.css" rel="stylesheet" th:href="@{/css/common.css}">
</head>

<body>

    <div id="nav" th:fragment="nav(activeIndex)" class="nav" v-cloak>
        <div class="collapse-btn" @click="onClickCollapse">
            <div class="collapse-btn-icons" :class="isCollapse?'':'rotate90'">
                <i class="collapse-btn-icon el-icon-minus"></i>
                <i class="collapse-btn-icon el-icon-minus"></i>
                <i class="collapse-btn-icon el-icon-minus"></i>
            </div>
        </div>
        <el-menu default-active="home" th:attr="default-active=${activeIndex}" class="el-nav-menu" :collapse="isCollapse">

            <el-menu-item index="home" @click="onClickHome">
                <i :class="'nav-icon nav-icon-home'+(active=='home'?'-active':'')"></i>
                <span slot="title" th:text="#{nav.home}"></span>
            </el-menu-item>

            <el-submenu index="purchase" :show-timeout="0" :hide-timeout="200">
                <template slot="title">
                    <i :class="'nav-icon nav-icon-purchase'+(activePurchase?'-active':'')"></i>
                    <span slot="title" th:text="#{nav.purchase}"></span>
                </template>
                <el-menu-item-group>
                    <el-menu-item index="purchaseApply" @click="onClickPurchaseApply">
                        <span slot="title" th:text="#{nav.purchaseApply}"></span>
                    </el-menu-item>
                    <el-menu-item index="purchaseOrder" @click="onClickPurchaseOrder">
                        <span slot="title" th:text="#{nav.purchaseOrder}"></span>
                    </el-menu-item>
                    <el-menu-item index="purchaseReconciliation" @click="onClickPurchaseReconciliation">
                        <span slot="title" th:text="#{nav.purchaseReconciliation}"></span>
                    </el-menu-item>
                </el-menu-item-group>
            </el-submenu>

            <el-submenu index="produce" :show-timeout="0" :hide-timeout="200">
                <template slot="title">
                    <i :class="'nav-icon nav-icon-produce'+(activeProduce?'-active':'')"></i>
                    <span slot="title" th:text="#{nav.produce}"></span>
                </template>
                <el-menu-item-group>
                    <el-menu-item index="producePlan" @click="onClickProducePlan">
                        <span slot="title" th:text="#{nav.producePlan}"></span>
                    </el-menu-item>
                    <el-menu-item index="produceWork" @click="onClickProduceWork">
                        <span slot="title" th:text="#{nav.produceWork}"></span>
                    </el-menu-item>
                </el-menu-item-group>
            </el-submenu>

            <el-submenu index="sale" :show-timeout="0" :hide-timeout="200">
                <template slot="title">
                    <i :class="'nav-icon nav-icon-sale'+(activeSale?'-active':'')"></i>
                    <span slot="title" th:text="#{nav.sale}"></span>
                </template>
                <el-menu-item-group>
                    <el-menu-item index="saleApply" @click="onClickSaleApply">
                        <span slot="title" th:text="#{nav.saleApply}"></span>
                    </el-menu-item>
                    <el-menu-item index="saleOrder" @click="onClickSaleOrder">
                        <span slot="title" th:text="#{nav.saleOrder}"></span>
                    </el-menu-item>
                    <el-menu-item index="saleReconciliation" @click="onClickSaleReconciliation">
                        <span slot="title" th:text="#{nav.saleReconciliation}"></span>
                    </el-menu-item>
                </el-menu-item-group>
            </el-submenu>
            <el-submenu index="finance" :show-timeout="0" :hide-timeout="200">
                <template slot="title">
                    <i :class="'nav-icon nav-icon-finance'+(activeFinance?'-active':'')"></i>
                    <span slot="title" th:text="#{nav.finance}"></span>
                </template>
                <el-menu-item-group>
                    <el-menu-item index="financePay" @click="onClickFinancePay">
                        <span slot="title" th:text="#{nav.financePay}"></span>
                    </el-menu-item>
                    <el-menu-item index="financeReceivable" @click="onClickFinanceReceivable">
                        <span slot="title" th:text="#{nav.financeReceivable}"></span>
                    </el-menu-item>
                    <el-menu-item index="financeReconciliation" @click="onClickFinanceReconciliation">
                        <span slot="title" th:text="#{nav.financeReconciliation}"></span>
                    </el-menu-item>
                </el-menu-item-group>
            </el-submenu>
            <el-submenu index="warehouse" :show-timeout="0" :hide-timeout="200">
                <template slot="title">
                    <i :class="'nav-icon nav-icon-warehouse'+(activeWarehouse?'-active':'')"></i>
                    <span slot="title" th:text="#{nav.warehouse}"></span>
                </template>
                <el-menu-item-group>
                    <el-menu-item index="warehouseStorage" @click="onClickWarehouseStorage">
                        <span slot="title" th:text="#{nav.warehouseStorage}"></span>
                    </el-menu-item>
                    <el-menu-item index="warehouseIssue" @click="onClickWarehouseIssue">
                        <span slot="title" th:text="#{nav.warehouseIssue}"></span>
                    </el-menu-item>
                    <el-menu-item index="warehouseDetail" @click="onClickWarehouseDetail">
                        <span slot="title" th:text="#{nav.warehouseDetail}"></span>
                    </el-menu-item>
                </el-menu-item-group>
            </el-submenu>
        </el-menu>
    </div>
    <a id="jump"><p></p></a>

    <script src="../static/js/vue.js" th:src="@{/js/vue.js}"></script>
    <script src="../static/js/element.js" th:src="@{/js/element.js}"></script>
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script src="../static/js/utils.js" th:src="@{/js/utils.js}"></script>
    <!-- 定义vue组件 -->
    <script th:fragment="vue(activeIndex)" th:inline="text">
        var initialCollapse = loadCache("navCollapse");
        if (initialCollapse === null) {
            initialCollapse = true;
        }
        var marginHelper = $('.margin-helper');
        if (!initialCollapse) {
            marginHelper.addClass('margin-for-nav');
        }
        setTimeout(function () {
            marginHelper.addClass('margin-for-nav-transition');
        }, 100);
        new Vue({
            el: '#nav',
            data: {
                isCollapse: initialCollapse,
                active: '[[${activeIndex}]]',
            },
            computed: {
                //采购模块
                activePurchase: function () {
                    switch (this.active) {
                        case 'purchaseApply':
                        case 'purchaseOrder':
                        case 'purchaseReconciliation':
                            return true;
                        default:
                            return false;
                    }
                },
                //生产模块
                activeProduce: function () {
                    switch (this.active) {
                        case 'producePlan':
                        case 'produceWork':
                            return true;
                        default:
                            return false;
                    }
                },
                //销售模块
                activeSale: function () {
                    switch (this.active) {
                        case 'saleApply':
                        case 'saleOrder':
                        case 'saleReconciliation':
                            return true;
                        default:
                            return false;
                    }
                },
                //财务模块
                activeFinance: function () {
                    switch (this.active) {
                        case 'financePay':
                        case 'financeReceivable':
                        case 'financeReconciliation':
                            return true;
                        default:
                            return false;
                    }
                },
                //仓储模块
                activeWarehouse: function () {
                    switch (this.active) {
                        case 'warehouseStorage':
                        case 'warehouseIssue':
                        case 'warehouseDetail':
                            return true;
                        default:
                            return false;
                    }
                },
            },
            methods: {
                //nav样式
                onClickCollapse: function (e) {
                    this.isCollapse = !this.isCollapse;
                    saveCache("navCollapse", this.isCollapse);
                    document.getElementsByClassName("collapse-btn")[0].blur();
                    if (this.isCollapse) {
                        marginHelper.removeClass('margin-for-nav');
                    } else {
                        marginHelper.addClass('margin-for-nav');
                    }
                },
                //首页
                onClickHome: function () {
                    jumpToURL("/");
                },
                //采购模块
                onClickPurchaseApply: function () {
                    jumpToURL("/purchase/apply");
                },
                onClickPurchaseOrder: function () {
                    jumpToURL("/purchase/order");
                },
                onClickPurchaseReconciliation: function () {
                    jumpToURL("/purchase/reconciliation");
                },
                //生产模块
                onClickProducePlan: function () {
                    jumpToURL("/produce/plan");
                },
                onClickProduceWork: function () {
                    jumpToURL("/produce/work");
                },
                //销售模块
                onClickSaleApply: function () {
                    jumpToURL("/sale/apply");
                },
                onClickSaleOrder: function () {
                    jumpToURL("/sale/order");
                },
                onClickSaleReconciliation: function () {
                    jumpToURL("/sale/reconciliation");
                },
                //财务模块
                onClickFinancePay: function () {
                    jumpToURL("/finance/pay");
                },
                onClickFinanceReceivable: function () {
                    jumpToURL("/finance/receivable");
                },
                onClickFinanceReconciliation: function () {
                    jumpToURL("/finance/reconciliation");
                },
                //仓储模块
                onClickWarehouseStorage: function () {
                    jumpToURL("/warehouse/storage");
                },
                onClickWarehouseIssue: function () {
                    jumpToURL("/warehouse/issue");
                },
                onClickWarehouseDetail: function () {
                    jumpToURL("/warehouse/detail");
                },
            },
        })
    </script>

</body>

</html>